body{
    background-color:rgb(116, 207, 238);
}
.todolist{
    background-color: white;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist h1{
    margin:0;
    padding-bottom:12px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background: transparent;
    border:none;
    /* border-top: honeydew; */
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.checkbox{
    padding-top: 5px;
}

.todo-footer{
    background-color: transparent;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll{
    margin-top:10px;
}
input, label {
    display: inline-block;
    
}
input[type=checkbox] {
    margin: 4px 8px 0;
    line-height: normal;
}
.form-control{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
}

small{
    text-align: left; 
    font-size: 14px;
}

.btn-circle {
    width: 65px;
    height: 65px;
    /* padding: 10px 20px; */
    margin-right: 15px;
    border-radius: 35px;
    border-color: whitesmoke;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle-sm {
    background-color: white;
    color:  lightseagreen;
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    margin-bottom: 7px ;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
}

input,label{
    display: block;
}

